.chart-line-mySymbol {
    -fx-scale-x: 0.7;
    -fx-scale-y: 0.7;
}


.Total {
    -fx-stroke: black;
    -fx-background-color : black;
}

.Pelo_Bianco, .Pelo_Marrone {
    -fx-stroke: #ffe082;
    -fx-background-color : #ffe082;
}

.Pelo_Marrone, .Pelo_Lungo, .Denti_Lunghi, .Salto_Alto, .Orecchie_Basse {
    -fx-stroke-dash-array: 0.5 5 5 0.5;
}

.Pelo_Corto, .Pelo_Lungo {
    -fx-stroke: #ffab91;
    -fx-background-color : #ffab91;
}

.Denti_Corti, .Denti_Lunghi {
    -fx-stroke: #4dd0e1;
    -fx-background-color : #4dd0e1;
}

.Orecchie_Basse, .Orecchie_Alte {
    -fx-stroke: #f06292;
    -fx-background-color : #f06292;
}

.Salto_Alto, .Salto_Basso {
    -fx-stroke: #aed581;
    -fx-background-color : #aed581;
}

.chart-legend-item-clicked {
    -fx-background-color : lightgray;
    -fx-background-radius: 5px;
    -fx-padding: 2px;
}