.button {
    -fx-background-color: #dca77b;
    -fx-background-radius: 1em;
}

.button:hover {
    -fx-background-color: #e6be9b;
    -fx-scale-y: 1.1;
    -fx-scale-x: 1.01;
}

.button:disabled, .button:disabled > * {
    -fx-opacity: 1.0;
}

.chosen-button {
    -fx-border-color: #8093f1;
    -fx-border-width: 5;
    -fx-border-radius: 1em;
}

.dashed-button {
    -fx-border-color: #8093f1;
    -fx-border-width: 5;
    -fx-border-radius: 1em;
    -fx-border-style: segments(10, 15, 15, 15)  line-cap round;
}

.panel {
    -fx-background-color: #fce8d2;
    -fx-background-radius: 2px;
}

.summer-button {
    -fx-background-image: url("/img/environment/hot_icon.png");
    -fx-background-size: 3em 3em;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.winter-button {
    -fx-background-image: url("/img/environment/cold_icon.png");
    -fx-background-size: 3em 3em;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

.chart-line-mySymbol {
    -fx-scale-x: 0.7;
    -fx-scale-y: 0.7;
}


.Total {
    -fx-stroke: black;
    -fx-background-color : black;
}

.chart-legend-item-clicked {
    -fx-background-color : lightgray;
    -fx-background-radius: 5px;
    -fx-padding: 2px;
}


.Pelo_Bianco, .Pelo_Marrone {
    -fx-stroke: #ffe082;
    -fx-background-color : #ffe082;
}

.Pelo_Marrone, .Pelo_Lungo, .Denti_Lunghi, .Salto_Alto, .Orecchie_Basse {
    -fx-stroke-dash-array: 0.5 5 5 0.5;
}

.Pelo_Corto, .Pelo_Lungo {
    -fx-stroke: #ffab91;
    -fx-background-color : #ffab91;
}

.Denti_Corti, .Denti_Lunghi {
    -fx-stroke: #4dd0e1;
    -fx-background-color : #4dd0e1;
}

.Orecchie_Basse, .Orecchie_Alte {
    -fx-stroke: #f06292;
    -fx-background-color : #f06292;
}

.Salto_Alto, .Salto_Basso {
    -fx-stroke: #aed581;
    -fx-background-color : #aed581;
}